.about_section {
    padding: 100px 0 0px 0px;
}

.about_container {
    padding: 50px 60px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.about_container img {
    width: 500px;
    height: auto;
    cursor: pointer;
}

.about_details h2 {
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}

.about_details p {
    font-size: 18px;
    line-height: 22px;
    color: gray;
    margin-bottom: 25px;
}

.social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.link {
    font-size: 22px;
    color: black;
    transition: 0.2s ease;
}

.link:hover {
    color: #088178;
    transform: scale(1.2);
}

.heading {
    text-align: center;
    margin-top: 35px;
    line-height: normal;

}
.text {
    font-size: 18px;
    color: gray;
    font-family: cursive;
    text-align: center;
}
.blog_box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 60px;
}

.blog_image {
    margin-right: 40px;
}

.blog_details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.blog_details h4 {
    font-size: 28px;
    margin-bottom: 15px;
}

.blog_details p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: cursive;
}

.blog_details .link {
    text-transform:uppercase;
    color: black;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
}

.blog_details .link:hover {
    color: #088178;
}

@media (min-width: 800px) and (max-width: 1025px) {
    .about_container {
        padding: 40px;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 799px) {
    .about_container {
        padding: 40px;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 542px) {
    
.about_container img {
    max-width: 360px;
    height: auto;
}
    
.blog_box {
    flex-direction: column;
    padding: 20px;
    padding-top: 35px;
    gap: 25px;
}

.blog_image {
    margin-right: 0px;
    max-width: 100%;
}
}